
* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body  {
  font-family:Arial, Helvetica, sans-serif;
  background-image: linear-gradient(150deg,#D98324, #A40606, brown);
  color: peachpuff;
  line-height: 1.5;
  min-height: 100vh;
  /*alternative background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);*/
  /*alternative color: #e6ac00;*/
}

/*styling for header*/
.header {
  text-align: right;
  width: 100%;
  padding: 25px;
  font-family:  Arial, Helvetica, sans-serif;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  box-shadow: 0 2px 10px rgb(53, 4, 4);
  background-image: linear-gradient(135deg, brown, #A40606, #D98324);
  /*alternative background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 2);*/ 
}

/*Styling for Diosa in header*/
.name {
  color: peachpuff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.header img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.avatar {
  height: 105px;
  width: 105px;
  box-shadow: 0 2px 10px rgb(53, 4, 4);
}

.container  {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.container, .content {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*content p styling*/
.content p {
  font-size: 20px;
  padding: 25px;
}

/*navigation properties*/
nav {
  align-items: stretch;
  align-content: space-around;
  justify-content: flex-start;
}

/*navigation styling*/
nav a {
  justify-items: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: skyblue;
}

/*hover over navigation bar causes text style change*/
nav a:hover {
  color: #fff;
}

/*sidebar properties*/
aside {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: overlay;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
  background: rgba(0, 0, 0, .2);
  padding: 40px;

}

/*hover over sidebar causes style change*/
aside a:hover {
  color: #fff;
}

/*using flex box for main*/
main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: nowrap;
  margin-left: 250px;
}

/*images size*/
.project img  {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
  margin-top: 10px;
  display: block;
  height: auto;
  width: 100%;
  max-width: 300px;
}

/*hover on project <p> changes text color*/
.project p:hover {
  color:#fff;  
}

.project img:hover {
  transform: scale(1.2);
}

/*project div's styling*/
.project div {
  flex-basis: 70%;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  justify-content: space-between;  
}

/*project <p>, <a> styling*/
.project  p, a {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  padding-bottom: 5px;
  color: skyblue;
  text-decoration: none;
}

/*footer styling*/
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:100%;
  order:4;
  padding: 20px;
  padding-top: 20px;
  background-image: linear-gradient(80deg, #d95a24, #A40606, brown);
  box-shadow: 0 2px 10px rgb(53, 4, 4);
  box-shadow: #0c0d13;
  /*alternative background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);*/
}

/*footer <a> styling*/
footer a  {
  padding: 15px;
  font-weight:  bold;
}

/*hover on footer causes text color style change*/
footer a:hover  {
  color:#fff;
}

/*when screen reaches 768px everything should align into a column*/
/*@media screen and (max-width: 768px) {*/
@media all and (min-width: 768px) {
.content  {
  flex-direction: row;
  flex-wrap: wrap;
}
main  {
  flex: 2;
  order:  2;
  min-height: 80vh;
}
.aside  {
  order:  1;
  flex: 1;
}
.project {
      order:  3;
    }
  }




